body{
  background-image: url("https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
}

.navbar{
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100vh;
  background-color: aquamarine;
  position: fixed;
  top: 0px;
}

.navbar a{
  justify-content: space-evenly;
  padding: 20px;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

.card{
  background-color: whitesmoke;
  margin-top: 20px;
  width: 300px;
  height: 300px;
  margin-left: 500px;
  text-align: center;
  margin-top: 200px;
}

.card label{
  margin-top: 20px;
}

.card input{
  color:black;
  margin-top: 20px;
  margin-bottom: 40px;
}


.home h1{
  text-align: center;
}
