.about h1{
    text-align: center;
    color:black;
}

.contact h1{
    text-align: center;
    color:black;
}


#btn1{
    color: blue;
}

.about h2{
    margin-left: 20%;
    color:orange
}

.contact h2{
    margin-left: 42%;
    color:orange
}